/* ********** Importation des polices : Advent pro et Dancing Script ********** */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&display=swap');

html {
    scroll-behavior: smooth;
}



/* ********** les valeurs par défaut pour le corps du document ********** */
body {
    font-family: 'Advent pro', sans-serif;
    padding: 0;
    margin: 0;
}

/* ********** les valeurs pour les ul ********** */
ul {
    padding: 0;
    margin: 0;
}

/* ********** les valeurs pour les li ********** */
li {
    list-style-type: none;
}

/* ********** les valeurs pour les h2 ********** */
h2 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

/* ********** les valeurs pour a (liens) ********** */
a {
    text-decoration: none;
    color: white;
}


/* ********** NAVBAR ********** */
nav {
    overflow: hidden;
    background-color: #3442d8;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header li {
    float: right;
    font-size: 1.2em;
}

header li a {
    font-family: 'Times New Roman', cursive;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 8px 30px;
}

#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}



/* ********** IMAGE PRINCIPALE ********** */
#imagePrincipale {
    padding-top: 40px;
    /* taille en hauteur de l'image */
    background: url(./Photos/CPo_1.jpg) no-repeat fixed 50% 42%;
    /* centrage */
    background-size: cover;
    height: 400px;
    /* taille de l'image par rapport à l'écran */
}

h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 4em;
    /* taille des caracteres */
    margin-top: 230px;
    text-shadow: 1px 3px 2px black;
}

h2 {
    font-size: 0em;
}

h4 {
    padding: 0px 1%;
    font-family: 'Gabriola', cursive;
    font-size: 1.5em;
}

/* ********** LES SECTIONS ********** */
/* Section presentation Sous programme 1 */
#presentation {
    background: #fefefe;
    padding: 1px 0px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
}

#typedeprestation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10%;
}

.imagesprestations h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2em;
    margin: 10px;
    font-weight: bold;
}

.imagesprestations img {
    border-radius: 20px;
    box-shadow: 3px 5px 3px 1px black;
}

.imagesprestations img:hover {
    opacity: 0.5;
    transform: scale(1.10);
    transition: 0.5s ease-in-out;
}

/* Section visualisation Sous programme 2 */
#visualisation {
    background: #ffffff;
    padding: 10px 0px 100px 0;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 4em;
}

.imagesvisualisation img {
    border-radius: 10px;
}


/* ********** ME CONTACTER ********** */
footer {
    background-color: #3442d8;
    color: #fefefe;
    font-size: 1.6em;
    font-family: 'Dancing Script', sans-serif;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

#trait {
    height: 1.2px;
    width: 90%;
    background-color: #FFFAE1;
    margin: 26px auto;
}

#CopyrightIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 5%;
}

#Copyright {
    width: 100%;
    text-align: left;
    font-size: 0.5em;
    font-family: 'Times new roman', sans-serif;
    color: #FFFAE1;
}

#Icons {
    width: 50%;
    text-align: right;
}

#Icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.2em;
    color: white;
}

#Icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}